apiVersion: v1
kind: Secret
metadata:
  name: civictrack-db-secret
  namespace: civictrack

type: Opaque

stringData:
  DB_HOST: your-rds-endpoint
  DB_USER: your-user
  DB_PASS: your-password
  DB_NAME: civictrack_db
  JWT_SECRET: your-secret
